

$primary: #fd7e14;
$secondary: #232323;
$danger: #CE1060;
$info: #369694;
$light: #fff;



body {
  background-color: #eae4e4;

  // text-transform: uppercase;

}

nav , .nav {
  max-width: 1200px;
  margin: 0 auto;


}

.nav-item .nav-link.active {
  color: $primary;
  text-decoration: underline;
  font-weight: bold;

}

.bg-image-large {
  background-image: url('../../images/images\ \(2\).jpeg');

  background-color: rgba(0, 0, 0, 0.7); /* Adjust overlay color and opacity */

}
//login register form
.custom-size {
  width: 400px;
}

//background image
.bg-image {
  background-image: url('../../images/images\ \(2\).jpeg'); /* Replace 'your-image-url.jpg' with your image URL */
  background-position: center;
  position: relative;
  height: 350px; /* Adjust height as needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust overlay color and opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  padding: 20px;
}





//create form button
.hidden {
  display: none;
}

//login btn link
.normal-link {
  text-decoration: none;
}

//edit btn
.card {
  position: relative;
  overflow: hidden;
}

.card a {
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 150px;
  display: block;
}

.profile-post {
  margin-top: 20%
}

.card .delete-btn {
  position: absolute;
  top: 6%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the button is above the image */
}


.card {
  /* Define your regular card styles */
  border: 2px solid transparent; /* Add a transparent border */
  transition: border-color 0.3s; /* Smooth transition for border color change */
}

.card:hover {
  /* Define the styles for the card when hovered */
  border-color: $info; /* Change to your desired border color */
  box-shadow: 0 0 0 2px $info; /* Apply a shadow around the border */
}




//item
    .item-image {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-list {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .item-list img {
        width: 30%; /* Adjust this width as needed */
        height: auto;
    }

    
//Profile image
    .profile-widget {
      position: relative;
    }
    .profile-widget .image-container {
      background-size: cover;
      background-position: center;
      padding: 100px 0 10px;
    }
    .profile-widget .image-container .profile-background {
      width: 100%;
      height: auto;
    }
    .profile-widget .image-container .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 0 auto -60px;
      display: block;
    }
    .profile-widget .details {
      padding: 50px 15px 15px;
      text-align: center;
    }

    .panel {
      border-radius: 0;
      margin-bottom: 30px;
      border: 1px solid #dddddd;
    }
    
    .post-description {
      padding: 15px;
    }


 
    //gallery


    .room-gallery {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
  }
  
  .room-preview {
      display: flex;
      width: 100%;
      gap: 10px;
      margin-top: 10px; /* Adjust the value to set the desired space between images */
      
  }
  
  .room-preview img {
      height: 100px;
      flex-grow: 1;
      opacity: 0.6;
      cursor: pointer;
      transition: opacity 0.3s ease;
      border: 1px solid $light;
  }
  
  img.room-active {
      opacity: 1;
  }

  //bid modal
